[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
	branch = release/11.x
[submodule "lab_03/autovectorization-practise"]
	path = lab_03/autovectorization-practise
	url = https://github.com/ArtemSkrebkov/autovectorization-practise.git
	branch = main
[submodule "UNN-C-Style-Checker"]
	path = UNN-C-Style-Checker
	url = https://github.com/eshulankina/UNN-C-Style-Checker.git
